body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #0d3351;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: {
    left: 30px;
    right: 30px;
  };
}

.title {
  margin-top: 0;

  font-weight: normal;
  font-size: 36px;
  font-family: "Roboto Slab" ,sans-serif;
  line-height: 1.333;
  text-align: center;
  letter-spacing: 2px;
  color: #0d3351;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 202px;
  height: 47px;

  font-size: 14px;
  color: #fff;

  background-color: #33c7fd;

  &:hover {
    background-color: #13b0e9;
  }
  &:active {
    background-color: #64d6ff;
  }
}