body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: {
    left: 30px;
    right: 30px;
  };
}

.title {
  font-weight: normal;
  font-size: 36px;
  font-family: "Roboto Slab" ,sans-serif;
  line-height: 1.333;
  text-align: center;
  color: #0d3351;
}