body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #0d3351;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: {
    left: 30px;
    right: 30px;
  }

  @include media(1199px) {
    max-width: 768px;
    padding: {
      left: 24px;
      right: 24px;
    }
  }
}

.title {
  margin-top: 0;

  font-weight: normal;
  font-size: 36px;
  font-family: "Roboto Slab" ,sans-serif;
  line-height: 1.333;
  text-align: center;
  letter-spacing: 2px;
  color: #0d3351;

  @include media(1199px) {
    margin-bottom: 0;

    font-size: 26px;
    letter-spacing: 1px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 202px;
  height: 47px;

  font-size: 14px;
  color: #fff;

  background-color: #33c7fd;

  transition: 0.2s;

  &:hover {
    background-color: #13b0e9;
  }
  &:active {
    background-color: #64d6ff;
  }
}

.phone {
  &-number {
    display: block;

    font-weight: bold;
    font-size: 14px;
    font-family: "Raleway";
    color: #0d3351;

    transition: 0.15s;

    &:hover {
      color: #13b0e9;
    }
    &:active {
      color: #64d6ff;
    }
  }

  &-label {
    display: block;

    font-size: 11px;
    color: #0d3351;
  }
}