.header {
  //height: 500px;
  background: url('../img/backgrounds/header-bg.png') no-repeat 50% 50%;
  background-size: cover;

  &__container {
    padding-bottom: 195px;
    position: relative;

    @include media(1199px) {
      padding-bottom: 208px;
    }

    &:after {
      position: absolute;
      bottom: -95px;
      left: calc(50% - 8px);

      display: block;
      content: '';
      height: 275px;
      width: 61px;

      background-image: url("../img/pictures/dotted-line.svg");

      transform: translate(-50%, 0);
      overflow: hidden;


      @include media(1199px) {
        bottom: -45px;
        left: calc(50% - 10px);

        height: 228px;
        width: 50px;


        background-image: url("../img/pictures/dotted-line-tablet.svg");
      }
    }
  }

  &__main {
    @include media(1199px) {
      padding-top: 55px;
    }
  }

  &__logo {
    width: 88px;
    height: 88px;
    margin: 3px auto;

    @include media(1199px) {
      width: 70px;
      height: 70px;
      margin: 3px auto 8px;
    }

    img {
      width: 100%;
      height: 100%
    }
  }

  &__title {
    margin-bottom: 16px;

    @include media(1199px) {
      margin-bottom: 0;
    }
  }

  &__text {
    display: block;
    margin-bottom: 32px;

    font-size: 100px;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2.5px;
    color: #0d3351;

    @include media(1199px) {
      margin-bottom: 12px;

      font-size: 72px;
      line-height: 1.1;
      letter-spacing: -2px;
    }
  }
}



.navigation {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 84px;


  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    padding: 5px;

    background: none;
    border: none;

    cursor: pointer;

    // active button
    &.navigation__button_active {
      .navigation__burger{
        &-element {
          opacity: 0;
          width: 0;
        }

        &:before {
          transform: rotate(45deg);
          top: -1px;
        }

        &:after {
          transform: rotate(-45deg);
          bottom: -1x;
        }
      }
    }
  }

  &__burger {
    position: relative;

    width: 21px;
    height: 16px;

    &:before, &:after, &-element {
      position: absolute;

      width: 100%;
      height: 2px;

      background-color: #0d3351;
      transform-origin: left center;

      transition: 0.3s;
    }

    &:before, &:after {
      display: block;
      content: '';
    }

    &:before {
      top: 0;
      transform: rotate(0);
    }

    &:after {
      bottom: 0;
      transform: rotate(0);
    }

    &-element {
      top: calc(50% - 1px);
    }
  }

  &__group {
    margin-left: auto;
    display: flex;
  }

  &__item {
    margin-left: 35px;
    padding-top: 5px;

    &:not(:last-child) {
      cursor: pointer;
    }

    img {
      display: block;
      width: 10px;
      height: 12px;
      margin-bottom: 2px;
    }

    &:not(:last-child) {
      display: flex;
      align-items: center;

      &:after{
        display: block;
        content: '';

        border-top: 5px solid #0d3351;
        border-bottom: 5px solid rgba(0,0,0,0);
        border-left: 4px solid rgba(0,0,0,0);
        border-right: 4px solid rgba(0,0,0,0);
        transform: translateY(25%);
      }
    }

    &-text {
      margin: 0 7px;

      font-size: 15px;
    }
  }
}



.menu {
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 10;

  width: 0;

  background-color: #0d3351;
  opacity: 0;

  transition: width 0.3s, opacity 0.5s;

  overflow: hidden;

  @include media(1199px) {
    top: 65px;
  }

  &.menu_visible {
    width: 420px;
    opacity: 1;
  }


  &__list {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 64px 45px 54px;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__reference {
    display: block;
    padding: 5px 0;

    font-size: 18px;
    font-family: "Roboto Slab", sans-serif;
    color: #fff;
    letter-spacing: 0.8px;
    white-space: nowrap;
  }
}