.main-content {
  background-color: #f3f3f3;

  &__container {
    padding: {
      top: 107px;
      bottom: 63px;
    }
  }

  &__title {
    margin-bottom: 7px;
  }

  &__sort {
    display: block;

    text-align: center;
    letter-spacing: 1px;
    color: #0d3351;

    &-item {
      position: relative;

      display: inline-flex;

      font-style: italic;

      &:after{
        position: absolute;
        right: -16px;
        top: 5px;

        display: block;
        content: '';

        border-top: 5px solid #0d3351;
        border-bottom: 5px solid rgba(0,0,0,0);
        border-left: 4px solid rgba(0,0,0,0);
        border-right: 4px solid rgba(0,0,0,0);
        transform: translateY(25%);
      }
    }
  }

  &__more-cruises {
    border: none;

    letter-spacing: 0.8px;

    cursor: pointer;

    &:after {
      position: relative;
      top: 1px;
      left: 10px;

      display: block;
      content: '';

      border-top: 5px solid #fff;
      border-bottom: 5px solid rgba(0,0,0,0);
      border-left: 4px solid rgba(0,0,0,0);
      border-right: 4px solid rgba(0,0,0,0);
      transform: translateY(25%);
    }
  }
}



.catalog {
  padding: 42px 0 5px;

  &:after {
    display: table;
    content: '';
    clear: both;
  }
  @include row_grid(15px);
  display: block;
  &__item {
    float: left;
    @include col_grid(6, 15px);
    margin-bottom: 20px;
  }
}



.cruise {
  position: relative;

  background-color: #fff;

  &__special {
    position: absolute;
    right: 30px;
    top: -10px;

    display: none;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 82px;
    padding: 10px 5px 5px;

    text-transform: uppercase;
    line-height: 1.286;
    text-align: center;
    color: #fff;

    &:after {
      position: absolute;
      bottom: 0;

      display: block;
      content: '';

      border-top: none;
      border-bottom: 20px solid rgba(0,0,0,0);
      border-left: 45px solid rgba(0,0,0,0);
      border-right: 45px solid rgba(0,0,0,0);

      transform: translateY(100%);
    }

    &_hit {
      display: flex;

      background-color: #33c7fd;
      &:after {
        border-left-color: #33c7fd;
        border-right-color: #33c7fd;
      }

    }

    &_sale{
      display: flex;

      background-color: #f20542;
      &:after {
        border-left-color: #f20542;
        border-right-color: #f20542;
      }
    }

  }

  &__image {
    img {
      display: block;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 38px 37px;
  }

  &__reference {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    font-size: 18px;
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 0.8px;
    color: #00a2dd;

    transition: 0.15s;

    &:hover:after {
      transform: translatex(5px);
    }

    &:active {
      color: #64d6ff;

      &:after {
        border-left-color: #64d6ff;
      }
    }

    &:after {
      margin-top: 2px;
      margin-left: 12px;

      display: block;
      content: '';

      border-top: 4px solid rgba(0,0,0,0);
      border-bottom: 4px solid rgba(0,0,0,0);
      border-left: 5px solid #00a2dd;
      border-right: 5px solid rgba(0,0,0,0);

      transition: 0.2s;
    }
  }

  &__route, &__time {
    margin-top: 0;
    margin-bottom: 10px;

    &-key {
      font-weight: bold;
    }
  }

  &__time {
    margin-bottom: 15px;
  }

  &__price {
    &-actual {
      font-size: 30px;
      font-family: "Roboto Slab", sans-serif;
      letter-spacing: 1px;
    }

    &-old {
      margin-left: 30px;

      font-size: 18px;
      font-family: "Roboto Slab", sans-serif;
      color: rgba(13, 51, 81, 0.549);
      text-decoration: line-through;
    }
  }
}