.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: none;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.5);
}

.modal {
  position: relative;

  @include row_grid(15px);
  margin: auto;
  padding: 118px 34px 88px;
  width: 850px;

  @include media(1199px) {
    width: 720px;
    padding: 98px 34px 75px;
  }

  @include media(767px) {
    width: 500px;
    margin: 0 auto;
    padding: 70px 20px 50px;

    overflow-y: auto;
  }

  @include media(575px) {
    padding: 70px 10px 50px;
  }

  background-color: #fff;

  &__close {
    position: absolute;
    top: 17px;
    right: 28px;

    padding: 5px;

    font-weight: 500;
    font-size: 20px;
    color: #8699a8;

    transform: scaleX(1.1);

    cursor: pointer;

  }

  &__gallery {
    @include col_grid(6, 15px);

    @include media(767px) {
      @include col_grid(12,15px);
    }
  }

  &__gallery-main {
    position: relative;

    width: 100%;
    margin-bottom: 8px;
    padding-top: 66.5%;

    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 100%;
      height: 100%;

      transform: translate(-50%, -50%);

      object-fit: cover;
    }
  }

  &__gallery-container {
    @include row_grid(4px);
  }

  &__gallery-item {
    flex-grow: 1;
    margin: 0 4px;

    overflow: hidden;
  }

  &__gallery-image {
    position: relative;

    padding-top: calc(66.2%);

    img {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 100%;
      height: 100%;
      display: block;

      transform: translate(-50%, -50%);

      object-fit: cover;
    }
  }

  &__info {
    @include col_grid(6, 15px);

    @include media(767px) {
      @include col_grid(12, 15px);
      padding-top: 30px;
    }
  }

  &__cruise {
    display: block;
    margin-top: -3px;
    margin-bottom: 32px;

    font-size: 18px;
    font-family: "Roboto Slab", sans-serif;
    line-height: 1.3;
    letter-spacing: 0.8px;
    color: #00a2dd;

    @include media(1199px) {
      margin-bottom: 10px;
    }
  }

  &__route, &__time {
    line-height: 1.5;
  }

  &__route {
    margin-bottom: 3px;
  }

  &__time {
    margin-bottom: 12px;
  }

  &__schedule {
    padding-bottom: 15px;
  }

  &__schedule-title {
    display: block;
    margin-bottom: 5px;

    font-weight: bold;
  }

  &__schedule-container {
    p {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.8;
    }
  }

  &__price {
    margin-bottom: 15px;
  }

  &__reference {
    margin: 0;
  }
}

body.modal_open {
  position: fixed;
  width: 100%;
  height: 100%;
}